<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>About Me : 끄적끄적</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css">
</head>
<style>
    #alertRow{
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 2;
        
        bottom: 0px;
	    left: 0px;
	    right: 0px;
    }
</style>
<body>
    <nav th:replace="~{nav/nav :: nav}"></nav>
    <div class="container">
        <div class="row" id="alertRow">
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control form-control-lg" type="text" placeholder="제목" id="title">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end mb-2">
                <small id="titleCount" class="form-text text-muted">0/50</small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="content"></div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end mb-2">
                <div id="contentCount" class="form-text text-muted">0/2000</small>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-outline-danger m-2" onclick="back()">취소</button>
                <!-- <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">완료</button> -->
                <button type="button" class="btn btn-primary m-2" onclick="titleContentValidity()">완료</button>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const no = urlParams.get('no');

    window.onload = function() {
        getBoard();
        titleReSize();
        titleLimitLength();
        contentLimitLength();
    }

    window.onresize = function() {
        titleReSize();
    }

    const editor = new toastui.Editor({
        el: document.querySelector('#content'),  // 에디터를 적용할 요소 (컨테이너)
        height: '500px',                         // 에디터 영역의 높이 값 (OOOpx || auto)
        initialEditType: 'markdown',              // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
        initialValue: '',                        // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
        previewStyle: 'vertical',                // 마크다운 프리뷰 스타일 (tab || vertical)
        toolbarItems: [
            ['heading', 'bold', 'italic', 'strike'],
            ['hr', 'quote'],
            ['ul', 'ol', 'indent', 'outdent'],
            ['table', 'image', 'link'],
            ['code', 'codeblock'],
            ['scrollSync'],
        ],
        hooks: {
            async addImageBlobHook(blob, callback) {
                try {
                    const formData = new FormData();
                    formData.append('image', blob);

                    let filename;

                    await fetch("/board/image-upload", {
                        method : 'POST',
                        body : formData,
                    })
                    .then((response) => {
                        if(response.ok){
                            return response.text();
                        }
                        window.location.href = "/error";
                    })
                    .then((data) => {
                        filename = data;
                        console.log('data: ', data);
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });

                    const imageUrl = '/board/image-print?filename=' + filename;
                    console.log('imageUrl: ', imageUrl);
                    callback(imageUrl, 'image alt attrivute');

                } catch (error) {
                    console.error('업로드 실패 : ', error);
                }
            }
        }
    });

    function getBoard(){
        fetch("/board/get?no=" + no, {
            method : 'GET',
            // headers: {
            //     'Content-Type': 'application/json'
            // },
            // body : JSON.stringify(formData),
        })
        .then((response) => {
            if(response.ok){
                return response.json();
            }
            window.location.href = "/error";
        })
        .then((data) => {
            const title = document.getElementById('title');
            title.value = data.title;
            editor.setMarkdown(data.content);

            const titleCount = document.getElementById('titleCount');
            const maxLength = 50;
            const currentLength = title.value.length;
            titleCount.textContent = `${currentLength}/${maxLength}`;
        })
        .catch((error) => {
            console.log('Error: ', error);
        });
    }

    function titleContentValidity() {
        let isSuccess = true;
        let title = document.getElementById('title').value;
        let content = editor.getMarkdown();

        if (title.length < 1 || /^\s*$/.test(title)) {
            isSuccess = false;
            appendAlert("no title", "danger");
        } 
        if (content.length < 1 || /^\s*$/.test(content)) {
            isSuccess = false;
            appendAlert("no content", "danger");
        }
        if (isSuccess) {
            update();
        }
    }

    function update() {
        const title = document.getElementById('title').value;
        const content = editor.getMarkdown();
        const preview = editor.getHTML().replace(/<[^>]*>/g, "").substring(0, 20);

        const formData = { title : title, content : content, preview : preview };

        fetch("/board/update", {
            method : 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(formData),
        })
        .then((response) => {
            if(response.ok){
                return response.json();
            }
            window.location.href = "/error";
        })
        .then((data) => {
            if(data.result){
                alert('수정이 완료되었습니다.');
                window.location.href='/board/list';
            } else {
                alert(data.message);
            }
        })
        .catch((error) => {
            console.error("Error:", error);
        });
    }

    function appendAlert(message, type) {
        const alertRow = document.getElementById('alertRow');
        
        const col = document.createElement('div');
        col.className = 'col';

        const wrapper = document.createElement('div');
        wrapper.className = `alert alert-${type} alert-dismissible`;
        wrapper.role = 'alert';
        wrapper.style.marginLeft = '16px';
        wrapper.style.marginRight = '16px';

        const msg = document.createElement('div');
        msg.textContent = `${message}`;

        const btn = document.createElement('div');
        btn.type = 'button';
        btn.className = 'btn-close';
        btn.setAttribute("data-bs-dismiss", "alert");
        btn.setAttribute("aria-label", "Close");

        wrapper.appendChild(msg);
        wrapper.appendChild(btn);
        col.appendChild(wrapper);
        alertRow.appendChild(col);
    }

    function back(){
        window.history.back();
    }

    function titleReSize(){
        let title = document.getElementById('title');
        let content = document.getElementById('content');
        title.style.width = content.offsetWidth + 'px';
    }

    function titleLimitLength(){
        const title = document.getElementById('title');
        const titleCount = document.getElementById('titleCount');
        const maxLength = 50;

        function updateTitleCount() {
            const currentLength = title.value.length;
            titleCount.textContent = `${currentLength}/${maxLength}`;
        }

        updateTitleCount();
        
        title.addEventListener('input', () => {
            updateTitleCount();
            
            if (title.value.length > maxLength){
                title.value = title.value.slice(0, maxLength);
                titleCount.textContent = `${maxLength}/${maxLength}`;
            }
        });
    }

    function contentLimitLength() {        
        editor.on('change', () => {
            const contentCount = document.getElementById('contentCount');
            const content = editor.getMarkdown();
            const currentLength = content.length;
            const maxLength = 2000;
            contentCount.textContent = `${currentLength}/${maxLength}`;

            if(currentLength > maxLength) {
                editor.setMarkdown(content.substring(0, maxLength));
            }
        })
    }
</script>
</html>