<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
</head>
<style>
	.container {
		max-width: 768px;
	}

	#alertRow{
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 2;
        
        bottom: 0px;
	    left: 0px;
	    right: 0px;
    }

	#title {
		font-weight: bold;
	}

	#author{
		white-space: nowrap;
		font-weight: bold;
	}

	.content p{
		word-wrap: break-word;
	}

	.content p img {
		width: 100%;
	}

	.board_img{
		max-width: 100%;
		max-height: 100%;
	}

	.date{
		white-space: nowrap;
	}

	.badge {
        margin-top: 10px;
        margin-right: 10px;
        height: 25px;
        line-height: 16px;

		font-size: 15px;
		font-weight: 500;
		background-color: #f8f9fa;
		color: #0d6efd;
    }
	.toast-custom-viewer {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#reply{
		resize: none;
	}

	#modify{
		border-radius: 25px;
	}
	
	#delete {
		border-radius: 25px;
		margin-left: 10px;
	}

</style>
<body>
	<nav th:replace="~{nav/nav :: nav}"></nav>
	<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<!-- <div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
			  <div class="modal-header">
				<h1 class="modal-title" id="deleteModalLabel">안내</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				  <p>
					삭제 하시겠습니까?
				  </p>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				<button type="button" class="btn btn-primary" onclick="pwdValidity()">확인</button>
			  </div>
			</div>
		</div> -->
	</div>
	<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3" id="pwd-box">
                        <label for="pwd-value" class="col-form-label">비밀번호:</label>
                        <input type="password" class="form-control" id="pwd-value" aria-label="2" ria-describedby="test02">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary" onclick="pwdValidity()">확인</button>
            </div>
          </div>
        </div>
    </div>
	<div class="container" id="board">
		<div class="row" id="alertRow"></div>
		<div class="row pb-3">
			<div class="col">
				<!-- 제목 -->
				<h2 id="title"></h2>
			</div>
		</div>
		<div class="row">
			<div class="col" style="display: flex; flex-direction: column; justify-content: space-between;">
				<!-- 작성자 -->
				<h6 id="author"></h6>
			</div>
			<div class="col">
				<div class="row">
					<div class="col d-flex justify-content-end">
						<!-- 작성일 -->
						<small class="date" id="insDate"></small>
					</div>
				</div>
				<div class="row">
					<div class="col d-flex justify-content-end">
						<!-- 수정일 -->
						<small class="date" id="updDate"></small>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-10">
				<div id="tag"></div>
			</div>
			<div class="col d-flex justify-content-end" style="white-space: nowrap;">
				<!-- 수정 버튼 -->
				<button class="btn btn-outline-primary" id="modify" onclick="showModal('M')">수정</button>
				<!-- 삭제 버튼 -->
				<button class="btn btn-outline-primary" id="delete" onclick="showModal('D')">삭제</button>
			</div>
		</div>
		<hr>
		<div class="toast-custom-viewer"></div>
		<hr>
		<div class="row d-flex justify-content-center pt-5">
			<div class="col-11">
				<p>0개의 댓글</p>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-11">
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1">작성자</span>
					<input type="text" class="form-control" id="reply_author" aria-describedby="basic-addon1">
					<span class="input-group-text" id="basic-addon2">비밀번호</span>
					<input type="password" class="form-control" id="reply_pwd" aria-describedby="basic-addon2">
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-11 pb-3">
				<textarea class="form-control" placeholder="댓글을 작성하세요" id="reply" rows="2"></textarea>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-11 d-flex justify-content-end">
				<button type="button" class="btn btn-primary" onclick="saveReply();">댓글 작성</button>
			</div>
		</div>
		<div id="reply_list">
			<div class="row">
				<div class="col">
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/3.0.7/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script type="text/javascript">
	const modal = new bootstrap.Modal(document.getElementById('exampleModal'));
	const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));

	const urlParams = new URLSearchParams(window.location.search);
    const no = urlParams.get('no');

	const editor = toastui.Editor.factory({
		el : document.querySelector(".toast-custom-viewer"),
		viewer : true,
		initialValue : ""
	});

	marked.setOptions({
		breaks: true, // 줄바꿈을 <br>로 변환
		highlight: function (code, lang) {
		if (lang && hljs.getLanguage(lang)) {
			return hljs.highlight(lang, code).value;
		}
		return hljs.highlightAuto(code).value;
		}
	});

	window.onload = function() {
    	getBoard();
		getReply();
    }

	function getBoard() {
		fetch("/board/get?no=" + no)
        .then((response) => {
			if(response.ok){
				return response.json();
			}
			window.location.href = "/error";
        })
        .then((data) => {
			document.title = data.title;

			const board = document.getElementById('board');

			insertBoardData(data);
			insertContent(data.content);
			insertTag(data.tag);

			document.querySelectorAll('.content pre').forEach((block) => {
				console.log('block: ', block);
			hljs.highlightBlock(block);
		});
		})
		.catch((error) => {
          	console.error("Error:", error);
        });
	}

	function getReply(){
		fetch("/reply/get?no=" + no)
        .then((response) => {
			if(response.ok){
				return response.json();
			}
			window.location.href = "/error";
        })
        .then((data) => {
			console.log('result: ', data);
			const replyList = document.getElementById('reply_list');

			data.forEach(element => {
				let row = document.createElement('div');
				row.className = 'row';
	
				let col = document.createElement('div');
				col.className = 'col';
	
				let author = document.createElement('p');
				author.textContent = '작성자: ' + element.author;
	
				let content = document.createElement('p');
				content.textContent = '내용: ' + element.content;
	
				let insDate = document.createElement('p');
				insDate.textContent = '작성일: ' + element.insDate;

				col.appendChild(author);
				col.appendChild(content);
				col.appendChild(insDate);
				row.appendChild(col);
				replyList.appendChild(row);
			})
		})
		.catch((error) => {
          	console.error("Error:", error);
        });
	}

	function insertBoardData(data){
		const insDateTime = new Date(data.insDate);
		const insYear = insDateTime.getFullYear();
		let insMonth = dateFmtConverter(insDateTime.getMonth() + 1);
		let insDay = dateFmtConverter(insDateTime.getDate());
		let insHour = dateFmtConverter(insDateTime.getHours());
		let insMinute = dateFmtConverter(insDateTime.getMinutes());
		
		const updDateTime = new Date(data.updDate);
		const updYear = updDateTime.getFullYear();
		let updMonth = dateFmtConverter(updDateTime.getMonth() + 1);
		let updDay = dateFmtConverter(updDateTime.getDate());
		let updHour = dateFmtConverter(updDateTime.getHours());
		let updMinute = dateFmtConverter(updDateTime.getMinutes());

		// 제목
		const title = document.getElementById('title');
		title.textContent = data.title;

		// 작성자
		let author = document.getElementById('author');
		author.textContent = data.author;

		// 작성일
		let insDate = document.getElementById('insDate');
		insDate.textContent = '작성일 ' + insYear + "." + insMonth + "." + insDay + " " + insHour + ":" + insMinute;

		// 수정일
		let updDate = document.getElementById('updDate');
		updDate.textContent = '마지막 수정일 ' + updYear + "." + updMonth + "." + updDay + " " + updHour + ":" + updMinute;
	}

	function showModal(type){
		let message;
		if(type === 'M'){
			message = '수정 하기';
		} else {
			message = '삭제 하기';
		}
		document.getElementById('exampleModalLabel').textContent = message;
			modal.show();
			document.getElementById('pwd-value').focus();
	}

	function pwdValidity(){
		let type;

		if(document.getElementById('exampleModalLabel').innerText === '수정 하기') {
			type = 'M';

		} else {
			type = 'D';
		}

		const pwd = document.getElementById('pwd-value').value;

		if (pwd.length < 1 || /^\s*$/.test(pwd)) {
            const pwdBox = document.getElementById('pwd-box');

			if(!pwdBox.querySelector('#test02')){
				const feedback = document.createElement('div');
				feedback.id = 'test02';
				feedback.className = 'invalid-feedback';
				feedback.textContent = '1~16자 입력';
				
				const pwdValue = document.getElementById('pwd-value');
				pwdValue.className = 'form-control is-invalid';

				pwdBox.appendChild(feedback);
			}
        } else {
			findPwd(pwd, type);
		}
	}

	function findPwd(pwd, type){
		const formData = { no : no, boardPwd : pwd };
		fetch("/board/pwdCheck", {
            method : 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
			body : JSON.stringify(formData),
        })
        .then((response) => {
            if(response.ok){
                return response.json();
            }
            window.location.href = "/error";
        })
        .then((data) => {
			modal.hide();
			if (data) {
				// const modal = new bootstrap.Modal(document.getElementById('exampleModal'));
				if (type === 'D'){
					const modal = document.getElementById('deleteModal');

					let modalDialog = document.createElement('div');
					modalDialog.className = 'modal-dialog modal-dialog-centered';

					let modalContent = document.createElement('div');
					modalContent.className = 'modal-content';

					let modalHeader = document.createElement('div');
					modalHeader.className = 'modal-header';

					let modalTitle = document.createElement('h5');
					modalTitle.className = 'modal-title';
					modalTitle.id = 'deleteModalLabel';
					modalTitle.textContent = '안내';

					let btnClose = document.createElement('button');
					btnClose.type = 'button';
					btnClose.className = 'btn-close';
					btnClose.setAttribute('data-bs-dismiss', 'modal');
					btnClose.setAttribute('aria-label', 'Close');

					let modalBody = document.createElement('div');
					modalBody.className = 'modal-body';

					let p = document.createElement('p');
					p.textContent = '삭제 하시겠습니까?';

					let modalFooter = document.createElement('div');
					modalFooter.className = 'modal-footer';

					let btnCancel = document.createElement('button');
					btnCancel.type = 'button';
					btnCancel.className = 'btn btn-secondary';
					btnCancel.setAttribute('data-bs-dismiss', 'modal');
					btnCancel.textContent = '취소';

					let btnSubmit = document.createElement('button');
					btnSubmit.type = 'button';
					btnSubmit.className = 'btn btn-primary';
					btnSubmit.onclick = function() {
						deleteBoard(pwd);
					};
					btnSubmit.textContent = '확인';

					modalHeader.appendChild(modalTitle);
					modalHeader.appendChild(btnClose);

					modalBody.appendChild(p);

					modalFooter.appendChild(btnCancel);
					modalFooter.appendChild(btnSubmit);

					modalContent.appendChild(modalHeader);
					modalContent.appendChild(modalBody);
					modalContent.appendChild(modalFooter);

					modalDialog.appendChild(modalContent);

					modal.appendChild(modalDialog);

					const btModal = new bootstrap.Modal(modal);
					btModal.show();
				} else {
					window.location.href = "/board/modify?no=" + no;
				}
			} else {
				alert('비밀번호를 확인 해 주세요.');
			}
        })
        .catch((error) => {
            console.error("Error:", error);
        });
	}

	function deleteBoard(pwd){
		// const formData = { no : no, boardPwd : pwd };

		fetch("/board/delete" ,{
            method : 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
			// body : JSON.stringify(formData),
        })
        .then((response) => {
            if(response.ok){
                return response.json();
            }
            window.location.href = "/error";
        })
        .then((data) => {
			if(data.result){
				window.location.href = "/board/list";
			} else {
				deleteModal.hide();
				alert(data.message);
			}
		})
		.catch((error) => {
			console.error('Error: ', error);
		});
	}

	function insertContent(dataContent) {
		const htmlContent = marked(dataContent);
		editor.setMarkdown(htmlContent);

	}

	function insertTag(dataTag){
		const tag = document.getElementById('tag');

		dataTag.forEach(text => {
			let span = document.createElement('span');
			// span.className = 'badge text-bg-secondary';
			span.className = 'badge';
			span.id = 'badge';
			span.textContent = text;

			tag.appendChild(span);
		})
	}

	function dateFmtConverter(element){
		if (element < 10) {
			element = '0' + element;
		}
		return element;
	}

	function saveReply(){
		const replyAuthor = document.getElementById('reply_author').value;
		const reply = document.getElementById('reply').value;
		const pwd = document.getElementById('reply_pwd').value;

		if (replyValidity(replyAuthor, reply, pwd)){
			console.log('작성자: ', replyAuthor);
			const formData = { author: replyAuthor, content: reply, boardNo:no, replyPwd: pwd };
			fetch("/reply/save" ,{
				method : 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body : JSON.stringify(formData),
			})
			.then((response) => {
				if(response.ok){
					return response.json();
				}
				window.location.href = "/error";
			})
			.then((data) => {
				if(data.result){
					location.reload();
				} else {
					alert(data.message);
				}
			})
			.catch((error) => {
				console.error('Error: ', error);
			});
		}
	}

	function replyValidity(replyAuthor, reply, pwd) {
		let isSuccess = true;
		if (replyAuthor.length < 1 || /^\s*$/.test(replyAuthor)) {
            isSuccess = false;
            appendAlert("no author", "danger");
        } 
        if (reply.length < 1 || /^\s*$/.test(reply)) {
            isSuccess = false;
            appendAlert("no reply", "danger");
        }
		if (pwd.length < 1 || /^\s*$/.test(pwd)) {
			isSuccess = false;
			appendAlert("no password", "danger");
		}
		return isSuccess;
	}

	function appendAlert(message, type) {
        const alertRow = document.getElementById('alertRow');
        
        const col = document.createElement('div');
        col.className = 'col';

        const wrapper = document.createElement('div');
        wrapper.className = `alert alert-${type} alert-dismissible`;
        wrapper.role = 'alert';
        wrapper.style.marginLeft = '16px';
        wrapper.style.marginRight = '16px';

        const msg = document.createElement('div');
        msg.textContent = `${message}`;

        const btn = document.createElement('div');
        btn.type = 'button';
        btn.className = 'btn-close';
        btn.setAttribute("data-bs-dismiss", "alert");
        btn.setAttribute("aria-label", "Close");

        wrapper.appendChild(msg);
        wrapper.appendChild(btn);
        col.appendChild(wrapper);
        alertRow.appendChild(col);
    }
</script>
</html>