<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
</head>
<style>
	.board_img{
		max-width: 100%;
		max-height: 100%;
	}
	blockquote {
		display:block;
		background: #fff;
		padding: 15px 20px 15px 45px;
		margin: 0 0 20px;
		position: relative;
		
		/*Font*/
		font-family: Georgia, serif;
		font-size: 14px;
		line-height: 1.2;
		color: #666;
		
		/*Box Shadow - (Optional)*/
		-moz-box-shadow: 2px 2px 15px #ccc;
		-webkit-box-shadow: 2px 2px 15px #ccc;
		box-shadow: 2px 2px 15px #ccc;
		
		/*Borders - (Optional)*/
		border-left-style: solid;
		border-left-width: 15px;
		border-right-style: solid;
		border-right-width: 2px;

		/* color */
		border-left-color: #ccd1d8;
  		border-right-color: #aab2bc;
	}

	blockquote::before {
		/*Font*/
		font-family: Georgia, serif;
		font-size: 60px;
		font-weight: bold;
		color: #999;
		
		/*Positioning*/
		position: absolute;
		left: 10px;
		top:5px;
	}
 
	blockquote::after{
		/*Reset to make sure*/
	}

	blockquote p {
		margin: auto;
	}

</style>
<body>
	<nav th:replace="~{nav/nav :: nav}"></nav>
	<div class="container" id="board">
		<!-- <div class="row">
			<div class="col">
			</div>
		</div> -->
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/3.0.7/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script type="text/javascript">
	marked.setOptions({
		breaks: true, // 줄바꿈을 <br>로 변환
		highlight: function (code, lang) {
		if (lang && hljs.getLanguage(lang)) {
			return hljs.highlight(lang, code).value;
		}
		return hljs.highlightAuto(code).value;
		}
	});

	window.onload = function() {
    	getBoard();
    }

	function getBoard() {
		const urlParams = new URLSearchParams(window.location.search);
        const no = urlParams.get('no');

		fetch("/board/get?no=" + no)
        .then((response) => {
			if(response.ok){
				return response.json();
			}
			window.location.href = "/error";
        })
        .then((data) => {
			document.title = data.title;

			const board = document.getElementById('board');

			createTitle(data.title, board);
			createAuthorAndDate(data, board);
			createContent(data.content, data.image, board);

			// console.log('요소: ', document.querySelectorAll('.content'));
			document.querySelectorAll('.content pre').forEach((block) => {
				console.log('block: ', block);
			hljs.highlightBlock(block);
		});
		})
		.catch((error) => {
          	console.error("Error:", error);
        });
	}

	function createTitle(dataTitle, board){
		let row = document.createElement('div');
		row.className = 'row';

		let col = document.createElement('div');
		col.className = 'col';

		let title = document.createElement('p');
		title.textContent = dataTitle;

		col.appendChild(title);
		row.appendChild(col);
		board.appendChild(row);
	}

	function createAuthorAndDate(data, board){
		const insDateTime = new Date(data.insDate);
		const insYear = insDateTime.getFullYear();
		let insMonth = dateFmtConverter(insDateTime.getMonth() + 1);
		let insDay = dateFmtConverter(insDateTime.getDate());
		let insHour = dateFmtConverter(insDateTime.getHours());
		let insMinute = dateFmtConverter(insDateTime.getMinutes());
		
		const updDateTime = new Date(data.updDate);
		const updYear = updDateTime.getFullYear();
		let updMonth = dateFmtConverter(updDateTime.getMonth() + 1);
		let updDay = dateFmtConverter(updDateTime.getDate());
		let updHour = dateFmtConverter(updDateTime.getHours());
		let updMinute = dateFmtConverter(updDateTime.getMinutes());

		let row = document.createElement('div');
		row.className = 'row';

		let authorCol = document.createElement('div');
		authorCol.className = 'col-md-9';

		let dateGroupCol = document.createElement('div');
		dateGroupCol.className = 'col'; 

		let insDateRow = document.createElement('div');
		insDateRow.className = 'row';

		let insDateCol = document.createElement('div');
		insDateCol.className = 'col';

		let updDateRow = document.createElement('div');
		updDateRow.className = 'row';

		let updDateCol = document.createElement('div');
		updDateCol.className = 'col';

		let author = document.createElement('small');
		author.textContent = data.author;

		let insDate = document.createElement('small');
		insDate.textContent = '작성일 ' + insYear + "." + insMonth + "." + insDay + " " + insHour + ":" + insMinute;

		let updDate = document.createElement('small');
		updDate.textContent = '마지막 수정일 ' + updYear + "." + updMonth + "." + updDay + " " + updHour + ":" + updMinute;

		let hr = document.createElement('hr');

		insDateCol.appendChild(insDate);
		insDateRow.appendChild(insDateCol);
		updDateCol.appendChild(updDate);
		updDateRow.appendChild(updDateCol);
		dateGroupCol.appendChild(insDateRow);
		dateGroupCol.appendChild(updDateRow);
		authorCol.appendChild(author);
		row.appendChild(authorCol);
		row.appendChild(dateGroupCol);
		row.appendChild(hr);
		board.appendChild(row);
	}

	function createContent(dataContent, dataImage, board) {
		let row = document.createElement('div');
		row.className = 'row';
		
		let col = document.createElement('div');
		col.className = 'col';
		
		let div = document.createElement('div');
		div.className = 'content';

		// if (dataImage.length > 0) {
		// 	dataImage.forEach(img => {
		// 		let contentImg = '<' + img + '>';
		// 		let imgTag = '<img src="/file/' + img + '" class="board_img"/>';

		// 		dataContent = dataContent.replace(contentImg, imgTag);
		// 	})
		// }

		const htmlContent = marked(dataContent);
		div.innerHTML = htmlContent;
		col.appendChild(div);
		row.appendChild(col);
		board.appendChild(row);
	}

	function dateFmtConverter(element){
		if (element < 10) {
			element = '0' + element;
		}
		return element;
	}
</script>
</html>